.aside {
  width: 325px;
  padding-top: 29px;
  border-left: 1px solid #E8EAED;

  &__profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 25px;
    padding-right: 32px;
  }

  &__profile-content {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &:hover {
      .aside {
        &__username, &__user-icon  {
          color: #d62323;
        }
      }
    }
  }

  &__content {
    position: relative;
    padding-top: 55px;

    &:before {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      background: #e8eaed;
      height: 1px;
    }
  }

  &__user-icon {
    font-size: 13px;
    color: #575757;
    margin-right: 8px;
    transition: color .2s;
  }

  &__username {
    font-size: 15px;
    color: #333;
    transition: color .2s;
  }

  &__header {
    font-size: 24px;
    font-weight: bold;
    line-height: 27px;
    text-align: center;
    color: #333;
    margin-bottom: 24px;
  }

  &__empty-block {
    text-align: center;
    margin-bottom: 30px;
  }

  &__icon-dish {
    font-size: 130px;
  }

  &__epmty-msg {
    font-size: 18px;
    line-height: 23px;
    color: #a7a7a7;
  }
}
