.catalog-popular {
  &__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__price-sort {
    font-size: 18px;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: flex-end;
    transform: translateY(5px);
    cursor: pointer;

    &.active {
      .catalog-popular {
        &__price-sort-icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__price-sort-icon {
    font-size: 13px;
    color: #333;
    margin-left: 10px;
    transition: transform 0.2s;
  }
}
