.catalog {
  display: flex;
  margin: 0 -22px;
  border-bottom: 1px solid #e8eaed;
  margin-bottom: 60px;

  &__wrapper {
    position: relative;
    padding-left: 177px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 55px;
      width: 150px;
      background: linear-gradient(270.17deg, #FFFFFF 9.25%, rgba(255, 255, 255, 0) 188.53%);
    }
  }

  &__content {
    overflow: auto;
  }

  &__item {
    margin: 0 22px;
    padding-bottom: 34px;
    position: relative;
    cursor: pointer;

    &:last-child, &:nth-last-child(2) {

      &:before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 55px;
        width: 100%;
        background: #fff;
        z-index: 20;
      }

      & > * {
        z-index: 30;
        position: relative;
      }
    }

    &:after {
        display: block;
        content: '';
        width: 29px;
        height: 2px;
        background: transparent;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -1px;
    }

    &.active {
      .catalog {
        &__name {
          color: #D62323;
        }

        &__count-number {
          color: #D62323;
          opacity: 1;
        }
      }

      &:after {
        background: #d62323;
      }
    }
  }

  &__name {
    font-size: 18px;
    color: #333333;
    position: relative;
  }

  &__count-number {
    font-size: 9px;
    opacity: 0.3;
    margin-left: 3px;
  }
}
